* {
    margin: 0;
    padding: 0;
}

/* WHOLE PAGE */

.container {
    max-width: 1200px;
    /* height: 100vh; */
    margin: 0 auto;
    padding: 0 10px 0;
}

/* --------------------------------- */

/* HEADER */

.header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_title, .header_menu {
    display: flex;
    justify-content: space-around;
}

a.header_menu_item {
    outline: none;
    text-decoration: none;
}

a.header_menu_item:link {
    color: black;
}

a.header_menu_item:visited {
    color: black;
}

a.header_menu_item:focus {
    color: black;
}

a.header_menu_item:hover {
    color: gold;
}

a.header_menu_item:active {
    color: black;
}

/* --------------------------------- */

/* BODY */

div.body {
    /* height: 75px; */
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* index.html start*/

a.init_button {
    outline: none;
    text-decoration: none;
    width: 150px;
}

a.init_button:link {
    color: black;
}

a.init_button:visited {
    color: black;
}

a.init_button:focus {
    color: black;
}

a.init_button:hover {
    color: gold;
}

a.init_button:active {
    color: black;
}

/* index.html stop*/

/* get.html start */

.data_selector {
    display: flex;
    flex-direction: row;
}

.table_selector {
    margin-right: 10px;
}

.data_draw {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

/* single element drawing start */

.data_draw_cell {
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
}

.data_draw_title {
    width: 10%;
    background-color: lightslategrey;
    padding-left: 10px;
    box-sizing: border-box;
}

.data_draw_retrieved_data {
    width: 90%;
    background-color: lightgray;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    box-sizing: border-box;
}

.data_draw_top_left {
    border-top-left-radius: 10px;
}

.data_draw_bottom_left {
    border-bottom-left-radius: 10px;
}

.data_draw_top_right {
    border-top-right-radius: 10px;
}

.data_draw_bottom_right {
    border-bottom-right-radius: 10px;
}

/* single element drawing end */

/* multiple elements drawing start */

.data_draw_table_line, .data_draw_table_title {
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
}

.data_draw_table_title {
    background-color: lightslategrey;
    border-radius: 10px 10px 0px 0px;
}

.data_draw_table_line {
    background-color: lightgray;
}

.table_line_last {
    border-radius: 0px 0px 10px 10px;
}

.data_draw_table_content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
}

.ddtt_cell, .ddtl_cell {
    /* width: 12%; */
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    box-sizing: border-box;
}

.ddtl_cell {
    height: 70px;
}

/* multiple element drawing end */

/* error message drawing start */

.error_msg {
    background-color: lightcoral;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

/* error message drawing stop */

/* get.html stop */

/* --------------------------------- */

/* FOOTER */

/* --------------------------------- */

/* GENERAL */

a {
    border: 1px dotted black;
    padding: 0px 20px 0px;
    margin: 5px 0 5px;
    border-radius: 10px;
}

.hidden {
    visibility: hidden;
}

/* --------------------------------- */